<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
   <!--  <HelloWorld msg="Welcome to Your Vue.js App"/> -->

   <exampleNew></exampleNew>


  </div>
</template>

<script>
import exampleNew from './components/HelloWorld.vue'

export default {
  name: 'app',
  components: {
    exampleNew
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
