
<!-- <ul *ngIf="customersObservable | async as customers else empty">

<li *ngFor="let customer of customers">

    <hr>
    <p> {{ customer.id }} </p>
    <p> {{ customer.name }} </p>
    <p> {{ customer.email }} </p>
    <p> {{ customer.phone}} </p>
    <hr>

</li>

</ul> -->


<ng-template #empty> No Customers Yet </ng-template>
