<div class="portfolio-modal" id="portfolioModal6" role="dialog">

    <div class="modal-dialog modal-xl" role="document">

      <div class="modal-content">

        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"  >
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
        </button>

        <div class="modal-body text-center">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                <!-- Portfolio Modal - Title -->
                <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">{{ portfolio.title }}</h2>
                <!-- Icon Divider -->
                <div class="divider-custom">
                  <div class="divider-custom-line"></div>
                  <div class="divider-custom-icon">
                    <i class="fas fa-star"></i>
                  </div>
                  <div class="divider-custom-line"></div>
                </div>
                <!-- Portfolio Modal - Image -->
                <img class="img-fluid rounded mb-5" [src]="portfolio.image" [alt]="portfolio.title">
                <!-- Portfolio Modal - Text -->
                <p class="mb-5">{{ portfolio.description }} </p>
                <button class="btn btn-primary"(click)="activeModal.close('Close click')">
                  <i class="fas fa-times fa-fw"></i>
                  Close Window
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>