
<div class="portfolio-item mx-auto">

  <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100" (click)="open()"  >
      <div class="portfolio-item-caption-content text-center text-white" >
         <i class="fas fa-plus fa-3x"></i>
      </div>
  </div>
    <img class="img-fluid" [src]="portfolio.image" alt="">

</div>