.App {
  display: grid;
  grid-template-areas:
  "header header nav"
  "article article nav"
  "footer footer nav";

  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 1fr 1fr 20%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;

  
}

/*header, footer, article, nav {
padding: 10px;
background: gold;
}*/

#pageHeader {
grid-area: header;
}
#mainNav {
grid-area: nav;
}
#mainArticle {
grid-area: article;
}
#pageFooter {
grid-area: footer;
}
