.mainNav {
	padding: 4px;
	/*background: silver;*/
	text-align: center;
}
.item{
	margin: 4px;
}




.link {
  display: block;
  border: 1px solid maroon;
  border-radius: 4px;

  text-decoration: none; 
  color: maroon; 
  padding: 2px;   
}
 
.link.active, .link:hover{
	background: #786b59; /* Цвет фона под ссылкой */ 
    color: #ffe; /* Цвет ссылки */ 
} 