<template>

  <div id="exampleNew">
  <!-- `greet` — это название метода, определённого ниже -->
  <button @click="greet">Поприветствовать</button>
</div>
  
</template>

<script>

export default {
      name: 'exampleNew',
      data: function () {
              return {
                name: 'Vue.js'
              }
      },
      // определяйте методы в объекте `methods`
      methods: {
        greet: function (event) {
          // `this` внутри методов указывает на экземпляр Vue
          alert('Привет, ' + this.name + '!')
          // `event` — нативное событие DOM
          if (event) {
            alert(event.target.tagName)
          }
        }
      }
  }

  
           
  
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->

<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
