<div class="row">



        <!-- Portfolio Item 1 -->
        <div class="col-md-6 col-lg-4" *ngFor="let portfolio of portfolios">
          <app-portfolio-modal [portfolio]="portfolio"></app-portfolio-modal>
        </div> 

<!--   -->

      </div>
      <!-- /.row -->
